html {
    scroll-behavior: smooth;
    /*overflow: hidden; !* Hide scrollbars *!*/
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

body {
    font-family: "Raleway", sans-serif;
    /*background-color: #1f1d1a;*/
}

.navbar {
    font-weight: 100;
    position: absolute; /*https://medium.com/@leannezhang/difference-between-css-position-absolute-versus-relative-35f064384c6*/
    top: 0;
    right: 0;
    left: 0;
    z-index: 4;
}
.navbar .navbar-brand h3 {
    font-weight: 200;
}
.navbar .nav-item {
    color: white;
    font-weight: 300;
    font-size: 1.3rem;
}
.navbar .nav-link:hover {
    transition: border 0.2s;
    border-bottom: 1px solid white; }
.navbar h4 {
    font-weight: 500;
}

#showcase {
    background-image: url('../images/denali2mb.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /*min-height: 904px;*/
    height: 100vh;
    position: relative; /*https://medium.com/@leannezhang/difference-between-css-position-absolute-versus-relative-35f064384c6*/
    /*z-index: -99;*/
}

#showcase #header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    /*width: 100%;*/
    height: 100%;
    z-index: 3;
    filter: brightness(200%);
}

#showcase h1 {
    font-family: "Questrial", sans-serif;
    line-height: 1;
}

#showcase .btn-info {
    font-weight: 500;
    font-size: 1.2rem;
    border-radius: 2rem;
}

#showcase #overlay {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#social a {
    color: white;
}
#social a:hover {
    transition: all .3s ease-in-out;
    color: dodgerblue;
}

#scrolldown {
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -20px;
    color: white;
}

#scrolldown:hover {
    transition: all .3s ease-in-out;
    color: dodgerblue;
}

#resume {
    padding-top: 50px;
    /*background-color: #161415;*/
    /*color: white;*/
}

#resume p, h5 {
    font-size: 1.1rem;
}

#resume h3 {
    color: dodgerblue;
    /*color: seagreen;*/
    /*color: brown;*/
}

.experience-wrapper {
    position: relative;
}

.experience-container::before {
    content: "";
    display: block;
    width: 1px;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 37%;
}

.companylogo i {
    position: relative;
    left: 30%;
    top: 20%;
    margin-left: 2px;
    margin-top: 5px;
}

.companylogo-bg {
    width: 3rem;
    height: 3rem;
    /*background-color: darkorange;*/
    background-color: #a39d96;
    border-radius: 50%;
}

@media (max-width: 768px) {
    .navbar {
        background-color: #1f1f1f;
    }

    .navbar .nav-link:hover {
        border-bottom: none
    }

    #showcase {
        min-height: 820px;
    }

    #showcase h1 {
        font-size: 4rem;
    }

    .experience-container::before {
        left: 38%;
    }
}

@media (min-width: 768px) {
    .experience-container::before {
        left: 38.3%;
    }
}

@media (min-width: 992px) {
    .experience-container::before {
        left: 37%;
    }
}

@media (min-width: 1200px) {
    .experience-container::before {
        left: 36.4%;
    }
}
